.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-row-space-bet {
  display: flex;
  justify-content: space-between;
}

.flex-column-center {
  display: flex;
  align-items: center;
}

.flex-column-base {
  display: flex;
  align-items: baseline;
}

.f-black {
  color: #222;
}

.f-gray7 {
  color: #777;
}

.f-bold {
  font-weight: 500;
}

.f-16 {
  font-size: 32rpx;
}

.f-24 {
  font-size: 48rpx;
}

.ml-8 {
  margin-left: 16rpx;
}

.bg-white {
  background-color: #fff;
}

.h-100v {
  height: 100vh;
}

.h-100p {
  height: 100%;
}

// 适配 iphoneX
// https://webkit.org/blog/7929/designing-websites-for-iphone-x/?hmsr=funteas.com&utm_medium=funteas.com&utm_source=funteas.com
.safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}